[Unit]
Description=Hyprland desktop login
Conflicts=getty@tty2.service

[Service]
Type=exec
User=hypr
PAMName=login
WorkingDirectory=/home/hypr
TTYPath=/dev/tty2
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
UtmpIdentifier=tty2
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
ExecStart=/usr/bin/start-hyprland
ExecStopPost=+/usr/bin/chvt 1
