[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=HOME=/usr/local
ExecStart=/bin/bash /usr/local/src/base/upgrade.sh

[Install]
WantedBy=multi-user.target
