[Mount]
# Mount by filesystem UUID so the disk can move between hardware ports.
Type=btrfs
What=/dev/disk/by-uuid/47e498ee-c3ec-4708-b732-747c122114c0
Where=/usr/local

[Install]
WantedBy=local-fs.target
